fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
bcrypt==4.0.1
passlib==1.7.4
python-multipart
pydantic-settings
pydantic[email]
email-validator
pytest
boto3
redis